<nz-card id="konva-toolbar">
  <div class="toolbar-button-container">
    <ng-template #imageCar>
      <svg width="60px" height="30px" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
        <!-- Body of the car -->
        <rect x="30" y="10" width="140" height="40" fill="blue"/>
        <!-- Windows -->
        <rect x="50" y="15" width="40" height="20" fill="skyblue"/>
        <rect x="110" y="15" width="40" height="20" fill="skyblue"/>
        <!-- Wheels -->
        <circle cx="60" cy="55" r="15" fill="black"/>
        <circle cx="140" cy="55" r="15" fill="black"/>
      </svg>
    </ng-template>
    <ng-template #imageParking>
      <svg width="30px" height="50px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <text x="30" y="20" font-family="Arial" font-size="40" fill="black">P</text>
      </svg>
    </ng-template>

    <ng-template #toolbarButtonTemplate
                 let-image="buttonImage"
                 let-mode="mode"
    >
      <button nz-button
              [nzType]="selectedMode === mode ? 'primary' : 'default'"
              (click)="selectedMode = mode">
        <ng-container *ngTemplateOutlet="image"></ng-container>
      </button>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="toolbarButtonTemplate; context: { buttonImage: imageCar, mode: Task2BKonvaMode.CAR }"></ng-container>
    <ng-container
      *ngTemplateOutlet="toolbarButtonTemplate; context: { buttonImage: imageParking, mode: Task2BKonvaMode.PARKING }"></ng-container>
  </div>
</nz-card>

<div class="statistics">
  <ng-template #statisticsTemplate
               let-colorHash="colorHash"
               let-count="count"
               let-id="id"
  >
    <ng-container>
      <div class="statistics-item">
        <div class="parking-statistic">
          <span class="item-text">Parking Lot #<span class="highlight">{{ id.substring(0, 4) }}</span>: </span>
          <div class="color-box" [ngStyle]="{'background-color': colorHash}"></div>
          <span class="item-text">| Cars: <span class="highlight">{{ count }}</span>></span>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-container class="statistics-content">
    <ng-template ngFor let-item [ngForOf]="clusters">
      <ng-container
        *ngTemplateOutlet="statisticsTemplate; context: { colorHash: item.parking.color, count: item.cars.length, id: item.parking.id }"></ng-container>
    </ng-template>
  </ng-container>
</div>
<div id="konva-container"></div>
